
@{
    ViewBag.Title = "No Permission";
}






<h4 style="padding-top: 25%; padding-left: 40%; font-weight: bold;">You have no permission to view this page!</h4>













@section AngularScript{
    <script src="~/Areas/Token/TokenController.js"></script>
}