
<form novalidate name="frmRSOFootstepsView" id="frmRSOFootstepsView" class="form-horizontal row-border">

    <div class="row">
        <div class="col-md-4">
            <div style="height: 10px;"></div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Zone</label>
                <div class="col-md-8">
                    <select id="ddlZone" class="select2-select-00"
                            ng-model="Zone"
                            name="ddlZone"
                            ng-change="loadRso(0);"
                            data-placeholder="--Select Zone--"
                            style="width: 100%" ng-options="rl.ZONE_ID as rl.ZONE_CODE_NAME for rl in listZone">
                        <option></option>
                    </select>
                </div>
            </div>

            <div style="height: 10px;"></div>

            <div class="form-group m-b-10 clearfix">
                <label class="control-label" style="color: red;" ng-show="IsMapNotAvail">{{msgMapNotAvail}}</label>
            </div>

        </div>

        <div class="col-md-4">
            <div style="height: 10px;"></div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">RSO</label>
                <div class="col-md-8">
                    <select id="ddlRso" class="select2-select-00"
                            ng-model="Rso"
                            name="ddlRso"
                            data-placeholder="--Select RSO--"
                            style="width: 100%" ng-options="ct.RSO_ID as ct.RSO_NAME_CODE for ct in RsoList">
                        <option></option>
                    </select>
                </div>
            </div>

            <div style="height: 10px;"></div>
        </div>

        <div class="col-md-4">
            <div style="height: 10px;"></div>

            <div class="form-group">
                <label class="col-md-4 control-label">Date</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtDate"
                           class="form-control datepicker"
                           name="txtDate" ng-model="VisitDate" placeholder="dd-MM-yyyy" required />
                </div>
            </div>

            <div style="height: 10px;"></div>
  
        </div>
        <div class="col-md-12">
     
            <div style="height: 10px;"></div>
            <div style="padding-left: 208px;">
                <label class="btn btn-sm btn-info  margin-right-btn col-md-2" ng-click="ExportExcelFile()">Export Excel</label>
                @*<label class="btn btn-sm btn-info margin-right-btn  col-md-2" ng-click="ExportExcelFileBTS()">Export Excel BTS</label>*@
                <span id="Show" class="btn btn-sm btn-info margin-right-btn  col-md-2" ng-click="GetRsoFootstraps()">
                    <i class="icon-search"></i> Show Map
                </span>
            </div>

            <div style="height: 10px;"></div>
        </div>
    </div>
</form>




