
<form novalidate name="frmNewSurvey" id="frmNewSurvey" class="form-horizontal row-border">
    <input type="hidden" id="hSurveyId" readonly="readonly" ng-model="hSurveyId" />
    <div class="row">

        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="control-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="control-label pull-left" for="input01">Question:</label>
                <div class="controls">
                    <select name="ddlQuestion" id="ddlQuestion" class="form-control" ng-model="SelectedQuestion" ng-change="GetAnswers()" ng-options="dist.SURVEY_DETAIL_QID as dist.QUESTION for dist in listQuestion">
                        <option value="" disabled selected>--Select Question--</option>
                    </select>
                </div>
            </div>

            <div class="control-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="control-label pull-left" for="input01">Answer:</label>
                <div class="controls">
                    <input name="txtAnswer" type="text" id="txtAnswer" ng-model="Answer" class="form-control">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="pull-right control-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="controls">
                    <input type="submit" name="btnSaveAnswer" value="Save Answer" ng-click="saveAnswer()" id="btnSaveAnswer" class="pull-right btn btn-success">
                </div>
            </div>
        </div>

    </div>
</form>

