
<form novalidate name="frmTargetItemSettings" id="frmTargetItemSettings" class="form-horizontal row-border">
    <input type="hidden" id="hTargetItemId" readonly="readonly" ng-model="hTargetItemId" />
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label class="col-md-4 control-label">Target Item Code</label>
                <div class="col-md-3">
                    <input type="text"
                           id="txtTargetItemCode"
                           class="form-control"
                           name="txtTargetItemCode" ng-model="TargetItemCode" required />
                </div>
                <span class="error">*</span>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Unit Name</label>
                <div class="col-md-3">
                    <input type="text"
                           id="txtUnitName"
                           class="form-control"
                           name="txtUnitName" ng-model="UnitName" required />
                </div>
                <span class="error">*</span>
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label class="col-md-4 control-label">Target Item Name</label>
                <div class="col-md-6">
                    <input type="text"
                           id="txtTargetItemName"
                           class="form-control"
                           name="txtTargetItemName" ng-model="TargetItemName" required />
                </div>
                <span class="error">*</span>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Is Active </label>
                <div class="col-md-3">
                    <input type="checkbox" id="chkIsActive" ng-model="IsActive" />
                </div>
            </div>

        </div>
    </div>





</form>

<style type="text/css">
    input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

        .remove:hover {
            background: white;
            color: black;
        }

    .removeOld {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

        .removeOld:hover {
            background: white;
            color: black;
        }


    .div_wrapper {
        overflow: hidden;
    }

    #one {
        float: left;
        width: auto;
    }

    #two {
        overflow: hidden;
    }
</style>
