

<form novalidate name="frmMenuGroups" id="frmMenuGroups" class="form-horizontal row-border">
    <input type="hidden" id="hMenuGroupId" readonly="readonly" ng-model="hMenuGroupId" />
    <div class="row">
        <div class="col-md-6">
            <div style="height: 10px;"></div>

            <div class="form-group  m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Group Name :</label>
                <div class="col-md-6">
                    <input type="text"
                           id="txtGroupName"
                           class="form-control"
                           ng-model="GroupName"
                           name="txtGroupName" required />
                </div>
                <span class="error">*</span>
            </div>

            <div class="form-group  m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Group For :</label>
                <div class="col-md-6">
                    <input type="radio"
                           ng-model="GroupFor"
                           name="groupfor" value="1" required />  RSO
                    <input type="radio"
                           ng-model="GroupFor"
                           name="groupfor" value="2" required /> Merchandiser
                </div>
                <span class="error">*</span>
            </div>
            <div class="form-group  m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Is Active :</label>
                <div class="col-md-6">
                    <input type="radio"
                           ng-model="IsActive"
                           name="isactive" value="1" required />  Yes
                    <input type="radio"
                           ng-model="IsActive"
                           name="isactive" value="0" required /> No
                </div>
                <span class="error">*</span>
            </div>

        </div>

    </div>
</form>


