
<div style="height: 20px;"></div>
<label style="color:red; font-weight: bold">Total Record(s): {{TotalRowCount}} </label><label style="color:red; font-weight: bold">, Total Target Value:  {{TotalTargetValue}}</label>
<table class="table table-striped table-fixed">
    <thead style="background-color: #ecf0f5">
        <tr>
            <th>ROSCODE</th>
            <th>TARGET</th>
            <th>ACHIVEMENT</th>
            <th>INCENTIVE</th>
            <th>SALAY_YEAR_MONTH</th>
            <th>CAMP_NAME</th>
            <th>KPI</th>
            <th>BANK_NAME</th>
            <th>BANK_AC</th>
            <th>VENDOR</th>
            <th>STATUS</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="excelData in uploadedExcelData">
            <td>{{excelData.ROSCODE}}</td>
            <td>{{excelData.TARGET}}</td>
            <td>{{excelData.ACHIVEMENT}}</td>
            <td>{{excelData.INCENTIVE}}</td>
            <td>{{excelData.SALAY_YEAR_MONTH}}</td>
            <td>{{excelData.CAMP_NAME}}</td>
            <td>{{excelData.WORKING_DAY}}</td>
            <td>{{excelData.KPI}}</td>
            <td>{{excelData.BANK_NAME}}</td>
            <td>{{excelData.BANK_AC}}</td>
            <td>{{excelData.VENDOR}}</td>
            <td>{{excelData.STATUS}}</td>
        </tr>
    </tbody>
</table>

