
<form novalidate name="tblComplain" id="tblComplain" class="form-horizontal row-border">
    <div class="row">

        <div ui-grid="gridOptionsComplain"
             ui-grid-resize-columns
             ui-grid-auto-resize
             ui-grid-move-columns
             ui-grid-exporter
             ui-grid-pinning class="grid"></div>

        <div class="loadmore">
            <div ng-show="loaderMoreComplain" ng-class="result">
                <img src="~/Content/img/ng-loader.gif" />
                {{lblMessageForComplain}}
            </div>
        </div>



    </div>
</form>
