
<form novalidate name="frmMarketUpdate" id="frmMarketUpdate" class="form-horizontal row-border">
    <input type="hidden" id="hMarketUpdateId" readonly="readonly" ng-model="hMarketUpdateId" />

    <div class="row">
        <div class="col-md-6">
            <div style="height: 10px;"></div>

            <div class="form-group  m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Market Update Type :</label>
                <div class="col-md-6">
                    <label class="control-label">{{MarketUpdateType}}</label>
                </div>
            </div>   

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Event Name :</label>
                <div class="col-md-6">
                    <label class="control-label">{{EventName}}</label>
                </div>
            </div>            

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Captured By :</label>
                <div class="col-md-6">
                    <label class="control-label">{{CapturedBy}}</label>
                </div>
            </div>   

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Retailer Code :</label>
                <div class="col-md-6">
                    <label class="control-label">{{RetailerCode}}</label>
                </div>
            </div>   

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Retailer Name :</label>
                <div class="col-md-6">
                    <label class="control-label">{{RetailerName}}</label>
                </div>
            </div>   
             
            <div style="height: 10px;"></div> 

            @*<div class="form-group m-b-10 clearfix">
                <label class="control-label" style="color: red;" ng-show="IsMapNotAvail">{{msgMapNotAvail}}</label>
            </div>*@

        </div>
        <div class="col-md-6">
            <div style="height: 10px;"></div>

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Operator Code :</label>
                <div class="col-md-6">
                    <label class="control-label">{{OperatorCode}}</label>
                </div>
            </div>

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Note :</label>
                <div class="col-md-6">
                    <label class="control-label">{{Note}}</label>
                </div>
            </div>

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Update Date :</label>
                <div class="col-md-6">
                    <label class="control-label">{{UpdateDate}}</label>
                </div>
            </div>

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Distributor Code :</label>
                <div class="col-md-6">
                    <label class="control-label">{{DistributorCode}}</label>
                </div>
            </div>

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Distributor Name :</label>
                <div class="col-md-6">
                    <label class="control-label">{{DistributorName}}</label>
                </div>
            </div>
  
            <div style="height: 10px;"></div>
        </div>

        
    </div>
</form>




