<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>

    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};&#xA; Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};&#xA; Extended Properties='Excel 8.0;HDR={1}'"/>

    <!-- Test-->
    <!--<add name="APL_DB_ConnString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.89)(PORT = 2640)))(CONNECT_DATA =(SERVICE_NAME = POSDBTST)));User ID=DMSPHASE4;Password=DMSApp_p@ss0d#975312;" providerName="Oracle.DataAccess.Client" />
    <add name="APL_DB_ConnStringLogin" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.89)(PORT = 2640)))(CONNECT_DATA =(SERVICE_NAME = POSDBTST)));User ID=DMSPHASE4;Password=DMSApp_p@ss0d#975312;" providerName="Oracle.DataAccess.Client" />
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-TestApp-20171026081849.mdf;Initial Catalog=aspnet-TestApp-20171026081849;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />-->
   
    <!--Live-->
   <add name="APL_DB_ConnString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.73)(PORT = 2634)))(CONNECT_DATA =(SERVICE_NAME = PRODPOS2)));User ID=DMSPHASE4;Password=DMSPHASE4;" providerName="Oracle.DataAccess.Client" />
    <add name="APL_DB_ConnStringLogin" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.73)(PORT = 2634)))(CONNECT_DATA =(SERVICE_NAME = PRODPOS2)));User ID=DMSPHASE4;Password=DMSPHASE4;" providerName="Oracle.DataAccess.Client" />
  
  </connectionStrings>

  <!--<connectionStrings>

    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};&#xA; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};&#xA; Extended Properties='Excel 8.0;HDR={1}'" />

    --><!-- Test--><!--
    --><!--<add name="APL_DB_ConnString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.89)(PORT = 2640)))(CONNECT_DATA =(SERVICE_NAME = POSDBTST)));User ID=DMSPHASE4;Password=DMSApp_p@ss0d#975312;" providerName="Oracle.DataAccess.Client" />
    <add name="APL_DB_ConnStringLogin" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.89)(PORT = 2640)))(CONNECT_DATA =(SERVICE_NAME = POSDBTST)));User ID=DMSPHASE4;Password=DMSApp_p@ss0d#975312;" providerName="Oracle.DataAccess.Client" />
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-TestApp-20171026081849.mdf;Initial Catalog=aspnet-TestApp-20171026081849;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />--><!--

    --><!--Live--><!--
    <add name="APL_DB_ConnString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.73)(PORT = 2634)))(CONNECT_DATA =(SERVICE_NAME = PRODPOS2)));User ID=DMSPHASE4;Password=DMSPHASE4;" providerName="Oracle.DataAccess.Client" />
    <add name="APL_DB_ConnStringLogin" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.10.73)(PORT = 2634)))(CONNECT_DATA =(SERVICE_NAME = PRODPOS2)));User ID=DMSPHASE4;Password=DMSPHASE4;" providerName="Oracle.DataAccess.Client" />

  </connectionStrings>-->
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
    <appSettings>
      <add key="DirectoryKey" value="/mDMS_NEW" />
      <add key="_VFOCUS_FILE_UPLOAD_SERVER" value="https://blvwbiotest.banglalink.net:41443/mDMS/UserFiles/VFOCUS/FILE_UPLOAD/" />
      <add key="_VFOCUS_CALL_API" value="https://blvwbiotest.banglalink.net:41443/" />
      
      
      <add key="RetailerTargetFilePath" value="~/UserFiles/TargetExcelNew" />
      <add key="ADDomainName" value="172.16.1.41:389" />
      <add key="BalanceCheckRequestUrl" value="http://10.13.2.90:9898/pretups/C2SReceiver" />
      <add key="BalanceTransferRequestUrl" value="http://10.13.2.90:9898/pretups/C2SReceiver" />

      <!--Test-->      
      
      <add key="EVUSER" value="ccd" />
      <add key="EVPASS" value="ccd@6418" />
      <add key="REQUEST_GATEWAY_CODE" value="GW006" />
      <add key="REQUEST_GATEWAY_TYPE" value="EXTGW" />
      <add key="SERVICE_PORT" value="190" />
      <add key="SOURCE_TYPE" value="EXTGW" />

      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      
      <add key="LogFileLocation" value="E:\Projects\RSO_APPS\errorLog\" />
      
      <!-- Live-->      
     <!--<add key="EVUSER" value="ccd" />
      <add key="EVPASS" value="f26fc9e6286e58b7f86beeac45c6ac81" />
      <add key="REQUEST_GATEWAY_CODE" value="GW006" />
      <add key="REQUEST_GATEWAY_TYPE" value="EXTGW" />
      <add key="SERVICE_PORT" value="190" />
      <add key="SOURCE_TYPE" value="EXTGW" />
      
      <add key="BalanceTransferRequestUrl" value="http://10.13.2.7:9898/pretups/C2SReceiver" />
      <add key="BalanceCheckRequestUrl" value="http://10.13.2.7:9898/pretups/C2SReceiver" />
      
      -->

      <add key="_IMGFORMAT" value="JPEG,JPG,PNG,GIF" />
      <add key="_VIDEOFORMAT" value="JPEG,JPG,PNG,GIF" />
      <add key="_AUDIOFORMAT" value="JPEG,JPG,PNG,GIF" />
      <add key="_PDFFORMAT" value="PDF" />
      <add key="_WORDFORMAT" value="DOC,DOCX" />
      <add key="_EXCELFORMAT" value="xls,xlsx" />
  
    </appSettings>

<!--TEST EV URL-->

  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>  
  </system.web>
  <system.webServer>     
    <modules>
      <remove name="FormsAuthentication" />
    
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <!--<add name="Access-Control-Allow-Credentials" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />-->
       
        
        <!--<add name="Access-Control-Allow-Headers" value="AuthorizedToken" />-->
        <!--<add name="Access-Control-Allow-Headers" value="X-Requested-With" />-->
        
        <!--<add name="Access-Control-Allow-Headers" value="Content-Type" />-->
        
        <!--<add name="Access-Control-Allow-Credentials" value="True" />-->
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.18.3" newVersion="4.122.18.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <!--
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  -->
</configuration>