
    <div ng-hide="pageValue" class="">
        <!--Logged User-->
        <input type="hidden" id="hUserID" name="userID" value="1" ng-model="UserID" class="ng-pristine ng-untouched ng-valid ng-empty">
        <!--Logged Company-->
        <input type="hidden" id="hCompanyID" name="companyID" value="1" ng-model="CompanyID" class="ng-pristine ng-untouched ng-valid ng-empty">
        <input type="hidden" id="hCompanyName" name="companyName" value="Amber Cotton Mills Ltd - 1" ng-model="CompanyName" class="ng-pristine ng-untouched ng-valid ng-empty">

        <input type="hidden" id="hClientIP" name="hClientIP" value="172.16.16.12" ng-model="ClientIP" class="ng-pristine ng-untouched ng-valid ng-empty">

    </div>
    <div class="crumbs">

        @*<ul id="breadcrumbs" class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>
                <a href="" title="Module" class="TextTransformCapitalize">SFTS</a>
            </li>
            <li>
                <i class=""></i>
                <a href="" title="Module" class="TextTransformCapitalize">Setup</a>
            </li>
            <li>
                <i class=""></i>
                <a href="" title="Module" class="TextTransformCapitalize">Current Offer</a>
            </li>
        </ul>*@

    </div>
