
<form novalidate name="frmSearch" id="frmSearch" class="form-horizontal row-border">

    <div class="row">

        <div class="col-md-4">
            <div style="height: 10px;"></div>

            <div class="form-group">
                <label class="col-md-4 control-label">Date From</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtDateFrom"
                           class="form-control datepicker"
                           name="txtDateFrom" ng-model="DateFrom" placeholder="dd-MM-yyyy" required />
                </div>
            </div>

            <div style="height: 10px;"></div>
        </div>

        <div class="col-md-4">
            <div style="height: 10px;"></div>

            <div class="form-group">
                <label class="col-md-4 control-label">Date To</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtDateTo"
                           class="form-control datepicker"
                           name="txtDateTo" ng-model="DateTo" placeholder="dd-MM-yyyy" required />
                </div>
            </div>

            <div style="height: 10px;"></div>
        </div>

        <div class="col-md-4">
            <div style="height: 10px;"></div>

            <div class="form-group">
                <label class="col-md-4 control-label">Status</label>
                <div class="col-md-7">
                    <select id="ddlStatus" class="select2-select-00"
                            ng-model="Status"
                            name="ddlStatus"
                            data-placeholder="--Select Status--"
                            style="width: 100%" required>
                        <option></option>
                        <option value="0">ALL</option>
                        <option value="1" selected>PENDING</option>
                        <option value="2">APPROVED</option>
                        <option value="3">REJECTED</option>
                    </select>
                </div>
            </div>

            <div style="height: 10px;"></div>

        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div style="height: 10px;"></div>
        </div>

        <div class="col-md-4">
            <div style="height: 10px;"></div>
        </div>

        <div class="col-md-4" style=" padding-right: 43px;">
            <span style="float:right;" id="Show" class="btn btn-info margin-right-btn" ng-click="SearchRetailer()">
                <i class="icon-search"></i> Search
            </span>
            <div style="height: 10px;"></div>

        </div>


    </div>

</form>





