
<form novalidate name="frmDistributorTargetRevise" id="frmDistributorTargetRevise" class="form-horizontal row-border">
    <input type="hidden" id="hTargetId" readonly="readonly" ng-model="hTargetId" />
    <input type="hidden" id="hTargetDetailId" readonly="readonly" ng-model="hTargetDetailId" />
    <input type="hidden" id="hVersion" readonly="readonly" ng-model="hVersion" />
    <div class="row">
        <div class="col-md-offset-2 col-md-7">
            <div style="height: 10px;"></div>

            <div class="form-group  m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Item Name :</label>
                <div class="col-md-6">
                    <label class="control-label">{{ItemName}}</label>
                </div>
            </div>   

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Target Period :</label>
                <div class="col-md-6">
                    <label class="control-label">{{TargetPeriod}}</label>
                </div>
            </div>   

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Version :</label>
                <div class="col-md-6">
                    <label class="control-label">{{Version}}</label>
                </div>
            </div>   

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Target Value :</label>
                <div class="col-md-6">
                    <label class="control-label">{{TargetValue}}</label>
                </div>
            </div> 

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Revised Value :</label>
                <div class="col-md-6">
                    <label class="control-label">{{RevisedTargetValue}}</label>
                </div>
            </div> 

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Requester Comments :</label>
                <div class="col-md-6">
                    <label class="control-label">{{Comment}}</label>
                </div>
            </div>

            <div class="form-group m-b-10 clearfix">
                <label class="col-md-4 control-label" for="input17">Approver Comments :</label>
                <div class="col-md-6">
                    <textarea rows="2" cols="3"
                              id="txtApproverComments"
                              class="form-control"
                              name="txtApproverComments" ng-model="ApproverComments"></textarea>
                </div>
            </div>


            <div style="height: 10px;"></div> 
        </div>
    </div>
</form>

