<div class="modal-top modal fade" id="WaitModal">
    <div style="position:absolute;left:46%; top:30%; display:block; border:0 !important;background:transparent; text-align:center">
        <img src="~/Content/img/PleaseWaitSaveUpdate.gif" />
        <h3 style="color:white">Please Wait.....</h3>
    </div>
</div>